{% extends 'layouts/main.html' %}

{% block title %}
Home page
{% endblock %}

{% block head %}

{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
<link rel="stylesheet" src="{% static 'css/owl.theme.default.min.css' %}"/>

{% endblock %}

{% block body %}
    <div>
        <div id="banner" class="h-screen">
            {% load static %}
            <img class="w-full rounded-b-3xl h-full object-cover transform scale-x-[-1]" src="{% static 'images/banner.jpg' %}" alt="banner image">
        </div>
        <div id="header_title" class="text-white absolute top-1/4 ml-48 w-1/3 flex flex-col gap-12 xl:ml-12 xl:w-[90%] xl:items-center xl:gap-7 lg:top-1/3">
            <div class="font-tt-medium leading-none text-2xl xl:text-center xl:text-xl">
                Qashqadaryo qadimiy
                obidalari
            </div>
            <p class="font-tt-regular leading-none text-sm w-[75%] xl:text-center sm:w-full">
                Qashqadaryo tarixiy obidalarining abadiy go'zalligini kashf eting. Bizning madaniy merosimizni belgilaydigan boy me'moriy mo'jizalarni o'rganing
            </p>
            <a href="/monuments/" class="bg-white border border-white text-black w-fit px-5 py-3.5 rounded-full font-tt-regular hover:bg-transparent hover:text-white transition duration-300">Obidalarni ko'rish</a>
        </div>
    </div>

    {# SECTION 2 #}
    <div class="py-24 sm:py-20">
        <div class="container">
            <div class="font-tt-medium text-[46px] leading-none tracking-tight">
               Mashxur obidalar
            </div>
            <div id="cards" class="owl-carousel owl-theme w-full flex flex-wrap justify-between mt-12 gap-5">
                {% for monument in best_monuments %}
                    <a href="/monuments/{{ monument.id }}" class="w-full bg-white item rounded-2xl h-[350px] flex flex-col cursor-pointer">
                        <div class="h-1/2 w-full">
                           {% load static %}
                           <img class="w-full h-full object-cover rounded-t-2xl" src="https://obidalar.uz/media/{{ monument.image }}" alt="">
                        </div>
                        <div class="p-5 font-tt-medium text-md text-ellipsis overflow-hidden whitespace-nowrap">
                           <div>{{ monument.title }}</div>
                           <div class="text-ellipsis whitespace-nowrap text-rg font-tt-regular overflow-hidden">
                               {{ monument.description }}
                           </div>
                        </div>
                        <div class="px-5 py-3">
                            <button class="bg-[#e1a843] border border-[#e1a843] text-white w-fit px-5 py-3 rounded-full font-tt-regular hover:bg-transparent hover:text-[#e1a843] transition duration-300">Obidani ko'rish</button>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>

    {# SECTION 3#}
    <div class="rounded-t-3xl bg-[#DADDE5FF]">
        <div class="container py-24 sm:py-12">
            <div class="flex flex-col gap-20 sm:gap-12">
                <div class="font-tt-medium text-xl text-black leading-none tracking-tight">
                    Turistlar tomonidan <br>
                    ko'p tashrif buyurilgan shaxarlar
                </div>
                <div class="flex justify-between flex-wrap sm:flex-col sm:gap-5">
                    {% for city in cities %}
                        <a href="/cities/{{ city.id }}/" class="w-[32.55%] bg-white rounded-2xl h-full flex flex-col cursor-pointer sm:w-full">
                            <div class="h-[400px] w-full">
                               <img class="w-full h-full object-cover rounded-t-2xl" src="https://obidalar.uz/media/{{ city.image }}" alt="">
                            </div>
                            <div class="p-7 font-tt-medium text-lg flex flex-col gap-5">
                                <div>{{ city.name }}</div>
                                <div class="text-ellipsis text-wrap h-[48px] overflow-hidden text-rg font-tt-regular">
                                    {{ city.description }}
                                </div>
                                <button class="bg-[#e1a843] text-regular text-rg border border-[#e1a843] text-white w-fit px-5 py-3.5 rounded-full font-tt-regular hover:bg-transparent hover:text-[#e1a843] transition duration-300">
                                    Shaharni ko'rish
                                </button>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {# SECTION 4#}
    <div>
        <div class="container py-24 sm:py-20">
            <div>
                <h1 class="font-tt-medium text-xl leading-none">
                So'nggi yangiliklardan<br>
                Habardor bo'ling
                </h1>
            </div>
            <div class="flex justify-between gap-1 flex-wrap mt-12 sm:flex-col">
                <div class="w-[70%] flex flex-col justify-between gap-3 sm:w-full">
                    <div class="flex flex-wrap justify-between gap-4 sm:flex-col">
                        {% for new in news %}
                        <a href="/news/{{ new.id }}" class="bg-white w-[49%] rounded-2xl p-5 flex flex-col gap-7 sm:w-full">
                            <div class="w-12 h-12 sm:w-full sm:h-24">
                               <img class="w-full h-full object-cover rounded-xl" src="https://obidalar.uz/media/{{ new.image }}" alt="">
                            </div>
                            <div class="font-tt-medium text-md text-ellipsis text-nowrap overflow-hidden">
                                {{ new.title }}
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                    <a href="/news/" class="mt-2 font-tt-medium bg-[#e1a843] text-center border border-[#e1a843] text-white py-3 rounded-full hover:bg-transparent hover:text-[#e1a843] transition duration-300">Barchasini ko'rish</a>
                </div>
                <div class="w-[29%] sm:w-full sm:hidden">
                   <img class="w-full h-full object-cover rounded-2xl" src="{% static 'images/news_banner.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" ></script>

<script src="{% static 'js/owl.carousel.min.js' %}"></script>

<script>
$(document).ready(function(){
  $('.owl-carousel').owlCarousel({
loop:true,
margin:10,
nav:true,
responsive:{
    0:{
        items:1
    },
    600:{
        items:3
    },
    1000:{
        items:5
    }
}
})
});
</script>

{% endblock %}

{% block style %}
<style>
@media screen and (max-width: 640px) {
    #header_title {
        margin: 0;
        text-align: center;
        width: 100%;
    }
}
</style>
{% endblock %}
