{% extends 'layouts/main.html' %}

{% block title %}
	Shaharlar
{% endblock %}

{% block body %}
	<div>
        <div id="banner" class="h-[400px] w-full">
            {% load static %}
            <img class="w-full h-full object-cover transform scale-x-[-1]" src="{% static 'images/banner.jpg' %}" alt="">
        </div>
        <div class="ml-48 absolute top-[30%] tracking-tight font-tt-medium text-2xl text-white">
            Shaharlar to'plami ({{ count }})
        </div>
    </div>

    {# CITIES SECTION #}
    <div>
        <div class="container py-20">
            <div class="flex flex-wrap justify-start gap-5">
                {% for city in cities %}
                <a href="/cities/{{ city.id }}" class="w-[24%] h-full flex flex-col gap-5 mt-2">
                    <div class="w-full h-[320px]">
                        <img class="w-full h-full rounded-2xl object-cover" src="http://localhost:8000/media/{{ city.image }}" alt="monument image">
                    </div>
                    <div class="font-tt-medium text-md">
                        {{ city.name }}
                    </div>
                    <div>
                        <button class="bg-[#e1a843] border border-[#e1a843] text-white w-fit px-5 py-3 rounded-full font-tt-regular hover:bg-transparent hover:text-[#e1a843] transition duration-300">
                            Shaharni ko'rish
                        </button>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
