{% extends 'layouts/main.html' %}

{% block title %}
Show city
{% endblock %}

{% block body %}

    <div class="py-28 sm:pt-56">
        <div class="container mt-12">
            <div class="flex flex-col gap-5">
                <div class="w-full">
                    <div class="font-tt-medium text-center text-lg tracking-tight">
                        {{ city.name }}
                    </div>
                </div>
                <div class="w-full h-[550px] sm:h-[300px]">
                    <img class="w-full h-full object-cover rounded-3xl" src="https://obidalar.uz/media/{{ city.image }}" alt="Monument image">
                </div>
            </div>

            <div class="font-tt-regular mt-12 text-sm text-justify sm:mt-5">
                {{ city.description }}
            </div>

            <div class="mt-20 sm:mt-12">
                <div class="font-tt-medium text-lg tracking-tight">
                    Boshqa shaharlar
                </div>
                <div class="flex flex-wrap justify-start gap-5 mt-5 sm:flex-col">
                    {% for city2 in other %}
                    <div class="w-[24%] h-full flex flex-col gap-5 mt-2 sm:w-full">
                        <div class="w-full h-[320px]">
                            <img class="w-full h-full rounded-2xl object-cover" src="https://obidalar.uz/media/{{ city2.image }}" alt="monument image">
                        </div>
                        <div class="font-tt-medium text-md">
                            {{ city2.name }}
                        </div>
                        <div>
                            <a href="/cities/{{ city2.id }}" class="bg-[#e1a843] border border-[#e1a843] text-white w-fit px-5 py-3 rounded-full font-tt-regular hover:bg-transparent hover:text-[#e1a843] transition duration-300">
                                Shaharni ko'rish
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}