<div class="bg-[#1c1c1c] text-white py-20 font-tt-regular">
    <footer class="container flex justify-between">
        <div class="flex flex-col justify-between">
            <div>
            OOO Qashqadarya LLC <br>
            INN 1234567 <br>
            +998 90 123 45 67
            </div>
            <div>
                Tashkent 2024
            </div>
        </div>
        <div class="flex gap-36">
            <div class="flex flex-col gap-1">
                <div class="opacity-50">Xizmatlar</div>
                <a href="/" class="cursor-pointer hover:opacity-70 transition duration-300">Asosiy</a>
                <a href="/monuments/" class="cursor-pointer hover:opacity-70 transition duration-300">Obidalar</a>
                <a href="/cities/" class="cursor-pointer hover:opacity-70 transition duration-300">Shaharlar</a>
                <a href="/news/" class="cursor-pointer hover:opacity-70 transition duration-300">Yangiliklar</a>
                <a href="/contact/" class="cursor-pointer hover:opacity-70 transition duration-300">Bog'lanish</a>
            </div>
            <div class="flex flex-col gap-1">
                <div class="opacity-50">Bog'lanish</div>
                <div>Phone: +1232139</div>
                <div>Email: qashqadarya@llc.com</div>
            </div>
        </div>
    </footer>
</div>