<div class="bg-[#1c1c1c] text-white py-20 font-tt-regular">
    <footer class="container flex justify-between">
        <div class="flex flex-col justify-between">
            <div>
            OOO Qashqadarya LLC <br>
            INN 1234567 <br>
            +998 90 123 45 67
            </div>
            <div>
                Tashkent 2024
            </div>
        </div>
        <div class="flex gap-36">
            <div class="flex flex-col gap-1">
                <div class="opacity-50">Xizmatlar</div>
                <div class="cursor-pointer hover:opacity-50 transition duration-300">Services</div>
                <div class="cursor-pointer hover:opacity-50 transition duration-300">About us</div>
                <div class="cursor-pointer hover:opacity-50 transition duration-300">Contacts</div>
                <div class="cursor-pointer hover:opacity-50 transition duration-300">Monuments</div>
                <div class="cursor-pointer hover:opacity-50 transition duration-300">Bestsellers</div>
            </div>
            <div class="flex flex-col gap-1">
                <div>Phone: +1232139</div>
                <div>Email: qashqadarya@llc.com</div>
                <div>Address: Lorem ipsum dolor sit amet, <br> consectetur adipisicing elit. Impedit, itaque.</div>
            </div>
        </div>
    </footer>
</div>