{% extends 'layouts/main.html' %}

{% block title %}
News
{% endblock %}

{% block body %}

    <div class="py-24">
        <div class="container">
            <div class="mt-12">
                <div class="font-tt-medium text-center text-xl">
                    Yangiliklar
                </div>

                <div class="flex justify-start gap-5 mt-12 sm:flex-col sm:mt-5">
                    {% for new in news %}
                    <a href="/news/{{ new.id }}/" class="w-[400px] max-h-[500px] flex flex-col gap-5 mt-2 bg-white p-5 rounded-3xl shadow-md sm:w-full">
                        <div class="w-full h-[320px] sm:h-[250px]">
                            {% load static %}
                            <img class="w-full h-full rounded-2xl object-cover" src="https://obidalar.uz/media/{{ new.image }}" alt="monument image">
                        </div>
                        <div class="font-tt-medium text-md text-ellipsis overflow-hidden whitespace-nowrap">
                            {{ new.title }}
                        </div>
                        <div class="text-ellipsis hidden whitespace-nowrap">
                            {{ new.body }}
                        </div>
                        <div class="mt-3 mb-3 sm:mt-0">
                            <button class="bg-[#e1a843] border border-[#e1a843] text-white w-fit px-5 py-3 rounded-full font-tt-regular hover:bg-transparent hover:text-[#e1a843] transition duration-300">
                                O'qish
                            </button>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
